#
#	used to initialize command line parameters in build_hostfile.py
#	if the -c flag is set on the command line
#
# -i parameter - number of NIC cards per host
NUMBER_NIC_CARDS:2
# -n parameter - number of segment hosts in the cluster
NUMBER_SEGMENT_HOSTS:8
# -s parameter - standby master host name, 'none'if no standby master
STANDBY_HOST_NAME:clusterstdby
# -d parameter - base hostname for segment hosts
DATAHOST_BASE_NAME:dbseg
# -m parameter - master host name
MASTER_HOST_NAME:clustermaster
# -e parameter - etl hosts base name, 'none' if no ETL hosts in cluster
ETLHOST_BASE_NAME:etl
# -t parameter - number of etl hosts in system
NUMBER_ETL_HOSTS:4
